<footer class="footer">
  <p class="footer_top">
    <a href="#hero"
      ><img
        class="footer_top-arrow"
        src="./assets/images/iconTop.svg"
        alt="flecha hacia arriba"
    /></a>
  </p>

  <section class="footer_list">
    <nav class="footer_list-nav1 footer_list-item">
      <ul class="footer_list-nav1-ul">
        <include src="./footerLinks.html" title="zapatillas"></include>
        <include src="./footerLinks.html" title="ropa"></include>
        <include src="./footerLinks.html" title="niño/a"></include>
        <include src="./footerLinks.html" title="destacados"></include>
        <include src="./footerLinks.html" title="tips"></include>
      </ul>
    </nav>

    <nav class="footer_list-nav2 footer_list-item">
      <ul class="footer_list-nav1-ul">
        <include src="./footerLinks.html" title="twitter"></include>
        <include src="./footerLinks.html" title="instagram"></include>
        <include src="./footerLinks.html" title="youtube"></include>
      </ul>
    </nav>
    <section class="footer_list-copy footer_list-item">
      <p>&copy;2023</p>
      <p class="footer_list-copy-p">
        we <span class="heart"> &#10084; </span> run
      </p>
    </section>
  </section>
</footer>
