<section class="start">
  <p>Prepáralos con tus marcas favoritas</p>
  <h4>Vuelta al cole</h4>
  <div class="articles">
    <article>
      <img src="./assets/images/img1.png" alt="niña con una mochila" />
      <p>Mochilas escolares</p>
    </article>
    <article>
      <img src="./assets/images/img2.png" alt="niño con un estuche" />
      <p>Estuches</p>
    </article>
    <article>
      <img
        src="./assets/images/img3.png"
        alt="nicha con una bolsa de deporte"
      />
      <p>Bolsas de deporte</p>
    </article>
  </div>
  <a href="#">Empezar ahora</a>
</section>
