<section id="start" class="start">
  <h3 class="start_h3">¡Prepáralos con tus marcas favoritas!</h3>
  <h4 class="start_h4">Vuelta al cole</h4>
  <div class="articles">
    <include
      src="./startArticle.html"
      img="img1"
      altImg="niña con una mochila"
      pArticle="Mochilas escolares"
    ></include>
    <include
      src="./startArticle.html"
      img="img2"
      altImg="niño con un estuche"
      pArticle="Estuches"
    ></include>
    <include
      src="./startArticle.html"
      img="img3"
      altImg="niña con una bolsa de deporte"
      pArticle="Bolsas de deporte"
    ></include>
  </div>
  <a class="start_button" href="#">Empezar ahora</a>
</section>
