.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 35px;
  background-color: $tertiarycolor;

  &_top {
    background-color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    transform: translateY(-50%);
    border: solid 0 #979797;

    &-arrow {
      &:hover {
        @keyframes bounce {
          from {
            transform: translateY(0%);
          }

          to {
            transform: translateY(-20%);
          }
        }
        animation: bounce 0.5s infinite;
      }
    }
  }

  &_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    width: 100%;

    &-item {
      width: 110px;
    }

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-around;
      padding-inline: 13rem;
      align-items: flex-start;
    }

    @media (min-width: 1280px) {
      padding-inline: 15rem;
    }

    &-nav1,
    &-nav2 {
      text-align: center;
      &-ul {
        list-style: none;
        & a {
          display: block;
          padding: 5px;
          @include TextFont($white, 1.6rem, uppercase, $regular);
          text-decoration: none;
          @media (min-width: 768px) {
            font-size: 1.6rem;
          }
        }
      }
    }

    &-copy {
      text-align: center;
      @include TextFont($white, 1.4rem, none, $regular);
      @media (min-width: 768px) {
        order: -2;
        font-size: 1.6rem;
      }
      .heart {
        color: $primaryColor;
        font-size: 1.6rem;
      }
      &-p {
        padding: 5px;
      }
    }
  }
}
